html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	color: #11999E;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 2;
	margin: 0;
	text-align: center;
}

h1 {
	color: #66BFBF;
	font: 3.5rem 'Sacramento', cursive;
	margin: 50px 0 0;
	text-align: center;
}

h2 {
	color: #66BFBF;
	font: 1.75rem 'Montserrat', sans-serif;
	margin: 35px 0;
}

h3 {
	color: #11999E;
	font: 1rem 'Montserrat', sans-serif;
	margin: 0;
}

header {
	margin: 0;
	padding-top: 50px;
	position: relative;
}

hr {
	border: 7px #EAF6F6;
	border-style: dotted none none none;
	margin: 75px auto;
	width: 60px;
}

p {
	color: #40514E;
}


/******************************************  HEADER  ***********************************/

#subheader {
	font-size: 1.4rem;
	font-weight: 500;
	margin-bottom: 50px;
}


/******************************************  /HEADER  ***********************************/


/*******************************************  MAIN  *************************************/

main > div:first-child {
	margin-bottom: 5rem;
	/* background-color: #EAF6F6; */
}

section {
	margin: 0 auto;
	max-width: 650px;
	padding: 1rem 25px 30px;
}

#profile {
	padding: 0px 25px 0;
}

#projects {
	margin: 70px auto 0;
	max-width: 700px;
	padding-bottom: 0;
}

#hobbies {
	max-width: 820px;
	text-align: justify;
}

.circle,
#hobbies img {
	width: 170px;
}


/*****************  HOBBIES  ******************/

#hobbies > article {
	padding: 50px 0;
	text-align: center;
}

#hobbies h3 {
	text-align: left;
}

#hobbies p {
	text-align: justify;
}

#hobbies > article:nth-of-type(odd) > img {
	float: left;
	margin-right: 35px;
}

#hobbies > article:nth-of-type(even) > img {
	float: right;
	margin-left: 35px;
}


/*****************  /HOBBIES  ******************/


/*****************  PROJECTS  ******************/

#wrapper-projects {
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#wrapper-projects div {
	color: gray;
	display: flex;
	flex-direction: column;
}

#wrapper-projects img {
	height: 160px;
	margin: 50px 20px 0px;
	opacity: 0.8;
	padding: 10px;
	width: 140px;
}

#wrapper-projects img:hover {
	cursor: pointer;
	opacity: 1;
	padding: 0;
}

/*****************  /PROJECTS  ******************/


/*****************  CONTACT  ******************/

form {
	padding: 20px;
	text-align: left;
}

input[type=text],
input[type=email] {
	background-color: hsl(0, 0%, 99%);
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
	margin: 8px 0;
	padding: 12px;
	width: 100%;
}
  
input[type=submit] {
	background-color: hsl(180, 68%, 63%);
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font: 1.15rem 'Montserrat', sans-serif;
	margin: 40px 0;
	padding: 14px;
	width: 100%;
}
 
textarea {
	background-color: hsl(0, 0%, 99%);
	border: 1px solid #ccc;
	border-radius: 4px;
	max-height: 17rem;
	min-height: 9rem;
	padding: 12px;
	resize: vertical;
	width: 100%;
}

input[type=submit]:hover {
	background-color: hsl(180, 68%, 45%);
}

/*****************  CONTACT  ******************/

/*******************************************  /MAIN  ****************************************/


/*******************************************  FOOTER  ****************************************/


/* EAF6F6 */
/* 66BFBF */
/* 11999E */

footer {
	background-color: #66BFBF;
	padding: 20px;
	padding-bottom: 1px;
	padding-top: 15px;
}

.social-icon {
	display: inline-block;
	margin: 20px 25px 15px;
	opacity: 0.6;
	width: 40px;
}

.social-icon:hover {
	filter: invert(1);
}

#copyright {
	margin: 0;
}

/*******************************************  /FOOTER  *****************************************/


/*******************************************  MEDIA QUERIES  ************************************/

@media (min-width: 1024px) {
	#mobile-nav {
		display: none;
	}
}

@media (min-width: 1200px) {
	#hobbies > article:nth-of-type(odd):hover > img {
		transform: rotate(20deg);
	}
	
	#hobbies > article:nth-of-type(even):hover > img {
		transform: rotate(-20deg);
	}

	/******* Desktop NAV *******/

	#desktop-nav {
		border-bottom-left-radius: 35%;
		border-top-left-radius: 35%;
		padding: 100px 49px 100px 70px;
		position: fixed;
		right: 0;
		top: 8%;
	}
	
	ul {
		background-color: #40514EAD;
		border-radius: 5px;
		list-style-type: none;
		padding: 0;
		text-align: center;
		width: 130px;
	}
	
	li a {
		color: whitesmoke;
		display: block;
		padding: 25px;
		text-decoration: none;
	}
	
	#desktop-nav > ul {
		visibility: hidden;
	}
	
	#desktop-nav:hover > ul {
		visibility: visible;
	}

	#nav-pointer {
		margin: 0;
		padding: 0;
		visibility: visible;
	}

	#nav-pointer > a {
		padding: 0;
	}

	/******* /Desktop NAV *******/

}

@media (min-width: 1024px) and (max-width: 1199px) {
	
	/******** Desktop NAV *****/

	#desktop-nav {
		position: fixed;
		right: 1px;
		top: 8%;
	}
	
	ul {
		background-color: #40514EAD;
		border-radius: 5px;
		list-style-type: none;
		margin-right: 20px;
		padding: 0;
		text-align: center;
		width: 85px;
	}
	
	li a {
		color: whitesmoke;
		display: block;
		padding: 25px 0;
		text-decoration: none;
	}

	#nav-pointer {
		display: none;
	}

	/******** /Desktop NAV *****/
}

@media (max-width: 1023px) {
	#desktop-nav {
		display: none;
	}

	/******* Mobile NAV *******/

	#mobile-nav {
		display: block;
		position: relative;
	}
	
	#menu-btn {
		background-color: hsl(169, 12%, 50%);
		border: none;
		color: whitesmoke;
		cursor: pointer;
		font-size: 16px;
		padding: 16px;
		width: 100%;
	}
	
	#menu {
		background-color: #40514E;
		box-shadow: 0px 8px 16px 0px #00000033;
		display: none;
		position: absolute;
		width: 100%;
	}
	
	#menu > a {
		color: whitesmoke;
		display: block;
		padding: 12px 16px;
		text-align: center;
		text-decoration: none;
	}
	
	#menu > a:hover {
		background-color: #66BFBF;
	}
	
	#mobile-nav:hover > #menu {
		display: block;
	}
	
	#mobile-nav:hover > #menu-btn {
		background-color: #40514E;
	}

	/******* /Mobile NAV *******/

}

@media (max-width: 767px) {

	/* used to be .float-left */
	#hobbies > article:nth-of-type(odd) > img {
		float: none;
		margin: 0 auto;
		padding: 25px 0 15px;
		width: 180px;
	}

	/* used to be .float-right */    
	#hobbies > article:nth-of-type(even) > img {
		float: none;
		margin: 0 auto;
		padding: 25px 0 15px;
		width: 180px;
	}
} 


/*******************************************  /MEDIA QUERIES  ************************************/


/*******************************************  NAV  ************************************/

#desktop-nav li > a:hover {
	background-color: #66BFBF;
}

#desktop-nav li:last-child > a:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#desktop-nav li:first-child > a:hover {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
}

#arrow {
	animation: arrow 1.65s ease 5;
	height: 80px;
	opacity: 0.7;
	padding-top: 5px;
	position: relative;
	width: 80px;
}

@keyframes arrow {
	0% {bottom: 0px;}
	50% {bottom: -11px;}
	100% {bottom: 0px;}
}


/*******************************************  /NAV  ************************************/


/* WAVES */

.spacer {
	aspect-ratio: 960/300;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.beige-top {
	background-image: url('./images/layered-waves-beige-top.svg');
	/* background-image: url('./images/layered-waves-beige-blue-top.svg'); */
	margin-top: -180px;
}

.beige-bottom {
	background-image: url('./images/layered-waves-beige-bottom.svg');
	margin-bottom: -110px;
}


div#about {
	background-color: #F3EFE0;
}





/* 
Condier inverting colors so projects are in beige and hobbies in white.
Either case, put waves between projects and the welcome section.

Maybe projects in white and welcome in blue/green/other contrasting color,
Header with narrower and maybe less waves and/or a color transition

The morphing blob could go around the welcome section's text and photo.

Make the footer less prominent.

*/